.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 691px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav__link {
  text-decoration: none;
  font-family: $font-montserrat;
  font-size: 14px;
  font-weight: 500;
  color: $color-white;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  
  &:hover {
    color: $color-hover-nav;
    -webkit-transition: 100ms;
  }
}

.nav__link::after {
  content: "";
  display: none;
  width: 100%;
  border-bottom: 3px solid $color-hover-nav;
  position: absolute;
  bottom: -10px;
}

.nav__item:hover>.nav__link::after {
  display: block;
  -webkit-transition: 100ms;
}

.nav__icon:hover {
  fill: $color-hover-nav;
  -webkit-transition: 100ms;
}

.nav__svg {
  width: 91px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
