/*colors variables*/

$color-white:rgba(255, 255, 255, 255);
$color-hover-nav:rgba(252, 227, 138, 255);
$color-border-footer:#e5e5e5;
$color-text-footer:rgba(51, 51, 51, 255);
$color-link-footer:#f59494;
$color-button-background:#95e1d3;
$color-text-input:rgba(204, 204, 204, 255);
$color-border-input:#e7e7e7;
$color-for-gradient-y:rgba(252, 227, 138, 0.8);
$color-for-gradient-p:rgba(243, 129, 129, 0.8);

$font-montserrat:Montserrat,AdobeInvisFont,MyriadPro;
$font-roboto:Roboto;
$font-kaushan:'Kaushan Script', AdobeInvisFont, MyriadPro;
