.logo__link {
    font-family: Montserrat, AdobeInvisFont, MyriadPro;
    font-size: 30px;
    font-weight: 900;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    text-decoration: none;
}

.logo{
    width: 191px;
}