.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 63px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid $color-border-footer;
}

.footer__text {
  font-family: $font-montserrat;
  font-size: 14px;
  color: $color-text-footer;
  text-align: center;
}

.footer__link_develop {
  text-decoration: none;
  color: $color-link-footer;
}

.footer__button_subscribe {
  height: 40px;
  width: 150px;
  font-family: $font-montserrat;
  font-size: 14px;
  color: $color-white;
  text-align: center;
  background-color: $color-button-background;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  outline: none;
}

.footer__form_input {
  width: 230px;
  height: 38px;
  font-family: $font-roboto;
  font-size: 15px;
  color: $color-text-input;
  text-align: left;
  font-style: italic;
  border: 1px solid $color-border-input;
  outline: none;
}

.footer__wrap_for_area_subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
